<h1 style="font-size: 40px">Editing Post</h1><br>

<%= render 'form'%>
<br>
<%= link_to 'Show', @post, class: "button is-info" %> 
<%= link_to 'Back', posts_path, class: "button is-warning" %>
<br><br><br><br>